@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap");

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  width: 100%;
  margin-left: 5%;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 415px;
  height: 200px;
  background-image: url("../images/imgcard.png");
  background-size: 104%;
  background-position: center;
  border-radius: 10px;
  padding: 20px;
  border: 3px solid #00b2ca;
  margin-top: 4%;
  margin-bottom: -4%;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat Alternates", sans-serif;
  background-repeat: no-repeat;
  overflow: hidden;
}

.name {
  font-size: 20px;
}

.seemore a,
.seemore a:visited,
.seemore a:hover,
.seemore a:active {
  color: white;
  text-decoration: none;
}

.seemore {
  margin-left: auto;
  background-color: #00b2ca;
  border: 1px solid #0090a3;
  width: 125px;
  border-radius: 7px;
  font-size: 12px;
  text-align: center;
  line-height: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infos {
  padding-right: 20px;
  font-size: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 125px;
}

.page-item,
.page-nav {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border-radius: 50%;
  border: none;
  background-color: #00b2ca;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Montserrat Alternates", sans-serif;
}

.page-item.active,
.page-nav.disabled {
  background-color: #0090a3;
}

.page-item:hover,
.page-nav:hover:not(.disabled) {
  background-color: #007a8a;
}

.page-nav {
  margin: 0 10px;
}

.page-nav.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.seemore:hover {
  background-color: #0090a3;
}

@media (max-width: 600px) {
  .pagination {
    margin-top: 13%;
  }
}
