@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap");



.container {
  overflow: hidden;
}

.Background {
  background-image: url("https://cdn.discordapp.com/attachments/1197901325397143552/1197901394255040542/image.png?ex=65bcf39c&is=65aa7e9c&hm=ef45e3f585bbcc9b6763e6622bd12b1d859dc1d422ad2bdab0638f3e218bafaf");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logotop {
  width: 32%;
  margin-top: 13%;
  margin-left: 5%;
}

.episodes {
  margin-left: 5%;
  margin-top: 33px;
  color: white;
  width: 100%;
}

.episodes h1 {
  font-size: 28px;
  text-decoration: underline solid #00b2ca;
  text-underline-offset: 5px;
  font-family: "Montserrat Alternates", sans-serif;
  margin: 0;
}

.bluebar {
  background-color: #00b2ca;
  width: 90%;
  height: 1px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}


/*responsive*/

@media (max-width: 600px) {
  .Background {
    height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 21%;
  }
  .card {
    width: 100%; /* Les cartes prennent toute la largeur */
    margin: 20px 0; /* Réduisez la marge pour les petits écrans */
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    width: 90%;
  }

  .logotop {
    margin-left: 85px;
    margin-top: 85px;
    width: 60%; /* Ajustez la taille du logo pour les petits écrans */
  }

  .logobottom {
    margin-left: 120px;
  }

  .episodes {
    margin-left: 3%; /* Réduisez la marge pour les petits écrans */
    margin-right: 3%; /* Ajoutez une marge à droite pour les petits écrans */
  }

  .footertext {
    flex-direction: column; /* Empilez les éléments verticalement */
    text-align: center; /* Centre le texte */
    margin-top: 10px;
  }

  .rightlinks {
    justify-content: center; /* Centre les liens */
    margin-top: 10px; /* Ajoutez de l'espace entre les éléments */
  }
}
