.list1 {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  width: 100%;
}

.card1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 415px;
  height: 200px;
  background-image: url("../images/imgcard.png");
  background-size: 104%;
  background-position: center;
  border-radius: 10px;
  padding: 20px;
  border: 3px solid #00b2ca;
  margin: 45px 0;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat Alternates", sans-serif;
  background-repeat: no-repeat;
  overflow: hidden;
}

.name1 {
  font-size: 20px;
}

.seemore1 {
  margin-left: auto;
  background-color: #00b2ca;
  border: 1px solid #0090a3;
  width: 125px;
  border-radius: 7px;
  font-size: 12px;
  text-align: center;
  line-height: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seemore1 a,
.seemore1 a:visited,
.seemore1 a:hover,
.seemore1 a:active {
  color: white;
  text-decoration: none; 
}

.seemore1:hover {
  background-color: #0090a3;
}

.seemore1 p {
  color: white;
}

.infos1 {
  padding-right: 20px;
  font-size: 10px;
}


@media (max-width: 600px) {

  .list1 {
    display: unset;
  }

}